{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/campaign.css' %}" />
<div class="" style="background-color: #f5f5ff;">
    <div class="container my-5">
        <section class="price_plan_area section_padding_130_80" id="pricing">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-sm-8 col-lg-6">
                        <!-- Section Heading-->
                        <div class="section-heading text-center wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                            <h6>Promotion Plans</h6>
                            <h3>Maximize Your Campaign's Reach</h3>
                            <p>Boost your campaign's visibility with our tailored promotional plans designed to help you succeed.</p>
                            <div class="line"></div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <!-- Basic Plan -->
                    <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                        <div class="single_price_plan wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                            <div class="title">
                                <h3>Starter</h3>
                                <p>Kickstart Your Promotion</p>
                                <div class="line"></div>
                            </div>
                            <div class="price">
                                <h4>₦12,500</h4>
                            </div>
                            <div class="description">
                                <p><i class="lni lni-checkmark-circle"></i>Duration: 7 days</p>
                                <p><i class="lni lni-checkmark-circle"></i>Social Media Ads (Facebook, Instagram)</p>
                                <p><i class="lni lni-checkmark-circle"></i>Email Campaign Assistance</p>
                                <p><i class="lni lni-close"></i>No Video Ads</p>
                                <p><i class="lni lni-close"></i>Limited Analytics</p>
                            </div>
                            <div class="button"><a class="btn btn-success btn-2" href="#">Get Started</a></div>
                        </div>
                    </div>
                    <!-- Advanced Plan -->
                    <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                        <div class="single_price_plan active wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                            <!-- Side Shape-->
                            <div class="side-shape"><img src="https://bootdey.com/img/popular-pricing.png" alt=""></div>
                            <div class="title"><span>Popular</span>
                                <h3>Advanced</h3>
                                <p>For Growing Campaigns</p>
                                <div class="line"></div>
                            </div>
                            <div class="price">
                                <h4>₦22,500</h4>
                            </div>
                            <div class="description">
                                <p><i class="lni lni-checkmark-circle"></i>Duration: 1 Month</p>
                                <p><i class="lni lni-checkmark-circle"></i>Google Ads Integration</p>
                                <p><i class="lni lni-checkmark-circle"></i>Social Media Ads (Facebook, Instagram, LinkedIn)</p>
                                <p><i class="lni lni-checkmark-circle"></i>Content Marketing Support</p>
                                <p><i class="lni lni-close"></i>Limited Video Ads</p>
                            </div>
                            <div class="button"><a class="btn btn-warning" href="#">Get Started</a></div>
                        </div>
                    </div>
                    <!-- Premium Plan -->
                    <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                        <div class="single_price_plan wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                            <div class="title">
                                <h3>Premium</h3>
                                <p>Comprehensive Campaign Visibility</p>
                                <div class="line"></div>
                            </div>
                            <div class="price">
                                <h4>₦34,600</h4>
                            </div>
                            <div class="description">
                                <p><i class="lni lni-checkmark-circle"></i>Duration: 3 Months</p>
                                <p><i class="lni lni-checkmark-circle"></i>Google Ads Integration</p>
                                <p><i class="lni lni-checkmark-circle"></i>Social Media Ads (All Major Platforms)</p>
                                <p><i class="lni lni-checkmark-circle"></i>Video Ads Creation and Management</p>
                                <p><i class="lni lni-checkmark-circle"></i>Comprehensive Analytics</p>
                            </div>
                            <div class="button"><a class="btn btn-info" href="#">Get Started</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
    <div class="row">
        <!-- Contact Form Section -->
        <div class="section-heading text-center wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
            <h3>Or Continue for Free</h3>
            
            <div class="line" style="padding: 0px 170px;"></div>
        </div>
        <div class="col-md-6 px-5" style="margin-left: 2rem;">
            <form id="createCaseForm" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" id="title" name="title" type="text" placeholder="Title" required />
                    <div class="invalid-feedback">Title is required.</div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="category">Category</label>
                    <input class="form-control" id="category" name="category" type="text" placeholder="Category" required />
                    <div class="invalid-feedback">Category is required.</div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" id="location" name="location" type="text" placeholder="Location" required />
                    <div class="invalid-feedback">Location is required.</div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="goal_amount">Goal Amount</label>
                    <input class="form-control" id="goal_amount" name="goal_amount" type="number" step="100" placeholder="Goal Amount" required />
                    <div class="invalid-feedback">Goal Amount is required.</div>
                </div>
                
                <div class="mb-3">
                    <label class="form-label" for="fundingType">Funding Type</label>
                    <select class="form-select" id="fundingType" name="funding_type" aria-label="Funding Type">
                        <option value="All or Nothing">All or Nothing</option>
                        <option value="Keep What You Raise">Keep What You Raise</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" id="description" name="description" placeholder="Description" style="height: 10rem;" required></textarea>
                    <div class="invalid-feedback">Description is required.</div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="image">Upload Image</label>
                    <input class="form-control" id="image" name="image" type="file" accept="image/*" />
                </div>
                <div class="d-grid">
                    <button class="btn btn-primary btn-lg" id="submitButton" type="submit">Submit</button>
                </div>
            </form>
            
        </div>

        <!-- Join Section -->
        <div class="col-md-6">
            <link rel="stylesheet" href="https://cdn.lineicons.com/3.0/lineicons.css"> 
   
        </div>
    </div>
</div>
</div>


<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>


{% endblock %}